<div class="row ms-3">
<div class="col-md-3">

    <button type="button" class="btn btn-primary position-relative start-0">
        Mails <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99 <span class="visually-hidden">unread messages</span></span>
      </button>
    </div>
<div class="col-md-3">

      <button type="button"  class="btn btn-dark position-relative end">
        Marker <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1" fill="#212529" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
      </button>
    </div>
<div class="col-md-3">

      <button type="button" class="btn btn-primary position-relative">
        Alerts <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden">unread messages</span></span>
      </button>
    </div>
</div>

<input type="hidden" #selection>

<div class="row">
    <div class="col-md-7 ms-3">
        <div class="bg-info mt-5  " style="height: 200px;">
            <div class="text-white text-center fs-1" [ngSwitch]="selection.value" >
                <pre *ngSwitchDefault>1</pre>
                <pre *ngSwitchCase="'too'">2</pre>
                <pre *ngSwitchCase="'three'">3</pre>
                <pre *ngSwitchCase="'four'">4</pre>
                <pre *ngSwitchCase="'five'">5</pre>
                <pre *ngSwitchCase="'six'">6</pre>
                </div>
        </div>
        <p class="w-bold">Description</p>

    </div>
    <div class="col-md-4 ms-2">
        <div class="bg-info mt-5" (click)="selection.value = 'one'" style="height: 50px;">
            <p class="text-white">
                1 
            </p>
        </div>
        <div class="bg-info mt-5"(click)="selection.value = 'too'"style="height: 50px;">
            <p class="text-white">
                2
            </p>
        </div>
        <div class="bg-info mt-5 " style="height: 50px;" (click)="selection.value='three'">
            <p class="text-white">
                3
            </p>
        </div>
        <div class="bg-info mt-5  " style="height: 50px;" (click)="selection.value='four'">
            <p class="text-white">
                4
            </p>
        </div>
        <div class="bg-info mt-5  " style="height: 50px;" (click)="selection.value='five'">
            <p class="text-white">
                5
            </p>
        </div>
        <div class="bg-info mt-5  " style="height: 50px;" (click)="selection.value='six'">
            <p class="text-white">
                6
            </p>
        </div>
    </div>
</div>

